<!DOCTYPE html>
<html lang="en">
        <head>
            <script src="https://cdn.tailwindcss.com"></script>
        </head>
        <body>
            {{template "page" .}}
            <footer>Copyright Altamash Ali 2023</footer>
        </body>
</html>
